* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #1d2671, #c33764);
}

.weather-card {
  width: 340px;
  padding: 25px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  color: white;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}

.title {
  margin-bottom: 20px;
  font-weight: 600;
}

.search {
  display: flex;
  gap: 10px;
}

.search input {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.search button {
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  background: #ff7a18;
  color: white;
  cursor: pointer;
}

.search button:hover {
  background: #ff9f45;
}

.weather-info img {
  width: 100px;
}

.weather-info h2 {
  margin: 5px 0;
}

.weather-info h3 {
  font-size: 40px;
  margin: 5px 0;
}

.details {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 14px;
}

.error {
  margin-top: 10px;
  color: #ffdada;
}
